<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pastadetail</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="solid"
        color="secondary"
        routerLink="/editpasta/{{pasta.id}}"
      >
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-buttons slot="end">
        <ion-button fill="solid" color="danger" (click)="deletepasta(pasta.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="pasta">
    <img [src]="pasta.url" alt="{{ pasta.name }}" />
    <ion-card-header>
      <ion-card-title>{{ pasta.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ pasta.description }}</p>
      <p>Price: Rp {{ pasta.price }}</p>
      <ion-item>
        <ion-label>Pasta Recipe Instruction:</ion-label>
        <ol>
          <li *ngFor="let ins of pasta.instructions">{{ins.instruction}}</li>
        </ol>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Add Instructions
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="addInstruction()">
        <ion-item>
          <ion-label position ="floating">Step No.</ion-label>
          <ion-input type="number" [(ngModel)]="newStep" name="newStep" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Instruksi</ion-label>
          <ion-textarea [(ngModel)]="newInstruction" name ="newInstruction" required></ion-textarea>
        </ion-item>
        <ion-button expand="full" type="submit">Add</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
