ion-avatar {
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

#frame{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.agaknaik{
  margin-top: -60px;
  z-index: -1;
}

.tengah-atasberjarak{
  text-align: center;
  margin-top: 60px;
}